*{
    background-color: #312f2f;
}
img{
    margin-top: 40px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 5px solid #eeeded;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
img:hover{
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
.container{
    text-align: center;
    width: 100%; 
   
}
.container, html{
    margin-top: 4%;
    /* background-color #861657; */
   
} 
.reset{
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: rgb(218, 60, 60);
    font-size: 20px;
    border: 2px solid #eeeded;
}
.random{
    width: 100px;
    height: 50px;
    background-color: #2cb908;
    font-size: 20px;
    border: 2px solid #eeeded;
}

.loader {
    margin: auto;
    padding: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4edd2a;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

